<div class="featured">
  <div class="featurecover">
  <div class="main-carousel" data-flickity>
        <div class="carousel-cell feature_items color-red">
          <div class="carousel-cover">
            <a href="#anime">Anime</a>
          </div>

        </div>
        <div class="carousel-cell feature_items color-white">

          <div class="carousel-cover">
            <a href="#anime">Anime</a>
          </div>

        </div>
        <div class="carousel-cell feature_items color-green">

          <div class="carousel-cover">
            <a href="#anime">Anime</a>
          </div>
          
        </div>
    </div>
  </div>
</div>
