<div class="navbar">

    <div class="row">
        <div class="col">
          <div class="left_side">
              <!-- <div class="sideMenu_toggler">
                <i class="fa fa-bars"></i>
              </div> -->
              <div class="brand">
                <strong>
                  <a href="#"><span class="red-text">UK</span>HIVE</a>
                </strong>
              </div>
          </div>

        </div>
        <div class="col">
            <div class="searchBar">
                <input type="search" class="searchInput" placeholder="Search ...">
                <button class="searchBtn">
                  <i class="fa fa-search">  </i>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="right_side">
                <ul>
                    <button class="users">
                      <i class="fa fa-user"></i>
                    </button>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="nav-scroller bg-red no-decoration">
  <div class="container">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 sub_nav_items" href="#">World</a>
      <a class="p-2 sub_nav_items" href="#">U.S.</a>
      <a class="p-2 sub_nav_items" href="#">Technology</a>
      <a class="p-2 sub_nav_items" href="#">Design</a>
      <a class="p-2 sub_nav_items" href="#">Culture</a>
      <a class="p-2 sub_nav_items" href="#">Business</a>
      <a class="p-2 sub_nav_items" href="#">Politics</a>
      <a class="p-2 sub_nav_items" href="#">Opinion</a>
      <a class="p-2 sub_nav_items" href="#">Science</a>
      <a class="p-2 sub_nav_items" href="#">Health</a>
      <a class="p-2 sub_nav_items" href="#">Style</a>
      <a class="p-2 sub_nav_items" href="#">Travel</a>
    </nav>
  </div>
</div>
